.selected-hero {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 20px;
  text-align: center;
  width: 300px;

  background-color: #7a5400;
}

.selected-hero--none {
  display: none;
}

.selected-hero__static {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.static__attributes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 33.333333%;
}

.attributes__img-container {
  display: flex;
  justify-content: center;
  width: 33.333333%;
}

.attributes__image {
  height: 50px;
  width: 50px;
}

.static__portrait-area {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
}

.portrait-area__image {
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

.static__name {
  height: 40px;
  width: 100%;
  font-size: 32px;
  color: #e2e2e2;
}

.selected-hero__ascention {
  height: 30px;
}

.ascention__level {
  color: #ffffff;
  font-size: 20px;
}

.ascention__stars-area {
}

.stars-area__image {
  height: 30px;
}

.selected-hero__furniture {
}

.furniture__gem {
  height: 30px;
}

.selected-hero__gear {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gear__armor,
.gear__artifact {
  height: 66px;
  width: 66px;
  margin: 0 40px 10px 40px;
  background-color: hsl(0, 66%, 42%);
  border: 5px solid #422d00;
  border-radius: 3px;

  font-size: 32px;
  color: #e2e2ff;
}
