.sorts {
  margin-top: 5px;
}

.sort__label-container {
  display: flex;
  justify-content: space-around;
}

.sort__label {
  font-size: 25px;
  color: rgb(255, 194, 102);
}

.sort__btn-container {
  margin-top: 10px;
  display: flex;
  gap: 5px;
}

.btn-container--sort {
  width: 50%;
  min-height: 240px;
  display: flex;
  flex-direction: column;
  background: #332011;
  border-radius: 15px;
}

.sort__btn {
  height: 40px;
  padding: 10px;
  outline: unset;
  border-top: solid hsl(36, 100%, 18%) 1px;
}

.sort__active-sort .sort__btn {
  background-color: rgb(255, 194, 102);
}

.sort__inactive-sort .sort__btn {
  background-color: hsl(36, 60%, 30%);
  color: rgb(255, 194, 102);
}

.sort__btn:last-child {
  border-radius: 0 0 15px 15px;
}

.sort__btn:first-child {
  border-radius: 15px 15px 0 0;
  border: none;
}

.sort__btn:only-child {
  border-radius: 15px;
  border: none;
}

.sort__reset-btn {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  background-color: hsl(24, 100%, 60%);
  border-radius: 15px;
}
