*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

.wrapper {
  display: flex;
}

.settings__container {
  height: 100vh;
  min-width: 300px;
  padding: 5px;
  background: #55331a;
}

.heroes__container {
  height: 100vh;
  width: 100%;
  background: #ecd19a;
}
